* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../assets/img/inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.card {
    background-color: #ffffff96;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    transform: rotate(2deg);
    }
    
    h1 {
        font-size: 36px;
    margin-bottom: 20px;
    color: #000000;
    transform: rotate(2deg);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
    transform: rotate(-3deg);
}

.input {
    margin-bottom: 15px;
    text-align: left;
    transform: rotate(-2deg);
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
        border-radius: 5px;
        font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.button_register {
    background-color: #0dc004;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
        font-size: 16px;
    cursor: pointer;
    transform: rotate(1deg);
}

.button_register:hover {
    background-color: #37d22f;
    scale: 1.1;
    transform: rotate(2deg);
    transition: all 0.5s ease;
}

.login_button {
    margin-top: 15px;
    font-size: 14px;
}

.login_button a {
    color: #0dc004;
    text-decoration: none;
}

.login_button a:hover {
    text-decoration: underline;
}
error {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
}