<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="ranking.style.css">
    <script src="ranking.controller.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <header class="encabezado">
        <h1 class="titulo_principal">Ranking de Jugadores</h1>
    </header>

    <main class="contenido_principal">
        <section class="seccion_ranking">
            <table class="tabla_ranking">
                <thead class="encabezado_tabla">
                    <tr>
                        <th class="columna">Posición</th>
                        <th class="columna">Imagen</th>
                        <th class="columna">Jugador</th>
                        <th class="columna">Puntaje</th>
                        <th class="columna">Monedas</th>
                    </tr>
                </thead>
                <tbody class="cuerpo_tabla">
                    <tr class="fila_jugador">
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

</body>

</html>