<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whac-a-Mole</title>
    <link rel="stylesheet" href="home.style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <div class="logo">
        <h1>Whac-a-Mole</h1>
        <p>¿Que puntuación eres capaz de hacer?</p>
    </div>
    <div class="container">



        <div class="botones">
            <button class="register"
                onclick="window.location.href='../register/register.view.html'">Registrarse</button>
            <button class="login" onclick="window.location.href='../login/login.view.html'">Iniciar
                Sesión</button>
        </div>

    </div>
</body>

</html>