<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Skins</title>
    <link rel="stylesheet" href="skins.style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="skins.controller.js" defer></script>
</head>

<body>

    <header class="encabezado">
        <h1 class="titulo">Tienda de Skins</h1>
        <div class="monedas">
            <div class="coins" id="coins">
                0
            </div>
            <img src="../../assets/img/moneda.png" class="img_coin" id="coin" alt="coin">
        </div>
    </header>

    <nav class="navegacion">
        <a href="#" id="link-topos" class="enlace">Topos</a>
        <a href="#" id="link-martillos" class="enlace">Martillos</a>
    </nav>

    <main class="contenido">
        <section class="seccion_skins" id="seccion-topos">
            <h2 class="subtitulo">Skins Disponibles - Topos</h2>
            <div class="galeria" id="galeria-topos"></div>
        </section>
        
        <section class="seccion_skins" id="seccion-martillos" style="display: none;">
            <h2 class="subtitulo">Skins Disponibles - Martillos</h2>
            <div class="galeria" id="galeria-martillos"></div>
        </section>
    </main>

</body>

</html>
