<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Skins</title>
    <link rel="stylesheet" href="skins.style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>

    <header class="encabezado">
        <h1 class="titulo">Tienda de Skins</h1>
        <h3 class="monedas" id="monedas">monedas</h3>
    </header>

    <main class="contenido">
        <section class="seccion_skins">
            <h2 class="subtitulo">Skins Disponibles</h2>
            <div class="galeria">

                <div class="tarjeta_skin">
                    <img src="../../assets/img/topo_0.png" alt="Skin 1" class="imagen_skin">
                    <h3 class="nombre_skin">Skin Legendaria</h3>
                    <p class="precio_skin">$10</p>
                    <button class="boton_comprar">Comprar</button>
                </div>

                <div class="tarjeta_skin">
                    <img src="../../assets/img/topo_1.png" alt="Skin 1" class="imagen_skin">
                    <h3 class="nombre_skin">Skin Legendaria</h3>
                    <p class="precio_skin">$20</p>
                    <button class="boton_comprar">Comprar</button>
                </div>

                <div class="tarjeta_skin">
                    <img src="../../assets/img/topo_2.png" alt="Skin 1" class="imagen_skin">
                    <h3 class="nombre_skin">Skin Legendaria</h3>
                    <p class="precio_skin">$30</p>
                    <button class="boton_comprar">Comprar</button>
                </div>

                <div class="tarjeta_skin">
                    <img src="../../assets/img/topo_3.png" alt="Skin 1" class="imagen_skin">
                    <h3 class="nombre_skin">Skin Legendaria</h3>
                    <p class="precio_skin">$40</p>
                    <button class="boton_comprar">Comprar</button>
                </div>

                <div class="tarjeta_skin">
                    <img src="../../assets/img/topo_4.png" alt="Skin 1" class="imagen_skin">
                    <h3 class="nombre_skin">Skin Legendaria</h3>
                    <p class="precio_skin">$50</p>
                    <button class="boton_comprar">Comprar</button>
                </div>

                <div class="tarjeta_skin">
                    <img src="../../assets/img/topo_5.png" alt="Skin 1" class="imagen_skin">
                    <h3 class="nombre_skin">Skin Legendaria</h3>
                    <p class="precio_skin">$60</p>
                    <button class="boton_comprar">Comprar</button>
                </div>

            </div>
        </section>
    </main>

</body>

</html>