<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Skins</title>
    <link rel="stylesheet" href="skins.style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="skins.controller.js" defer></script>
</head>

<body>

    <header class="encabezado">
        <h1 class="titulo">Tienda de Skins</h1>
        <h3 class="monedas" id="monedas">monedas</h3>
    </header>

    <main class="contenido">
        <section class="seccion_skins">
            <h2 class="subtitulo">Skins Disponibles</h2>
            <div class="galeria" id="galeria">

            

            </div>
        </section>
    </main>

</body>

</html>