<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.style.css">
    <script src="profile.controller.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="targeta">
        <div class="baner">
            <img class="img_profile" id="img_profile" alt="1">
        </div>

        <div class="contenido">
            <h2 id="username"></h2>
            <p id="email"></p>
            <h3>Skins</h3>
            <div class="skins">

            </div>

        </div>
    </div>
</body>

</html>