<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="stylesheet" href="game.style.css">
    <script src="game.controller.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        
        <div class="vidas">
            <img src="../../assets/img/corazon.png" class="img_corazon" id="corazon_1" alt="heart">
            <img src="../../assets/img/corazon.png" class="img_corazon" id="corazon_2" alt="heart">
            <img src="../../assets/img/corazon.png" class="img_corazon" id="corazon_3" alt="heart">
        </div>
        <div class="points" id="points">
            0
        </div>
        <div class=coins>
            <div class="coins" id="coins">
                0
            </div>
            <img src="../../assets/img/moneda.png" class="img_coin" id="coin" alt="coin">
            </div>
        <div class="card_user">
            <button class="button_profile" id="button_profile">
                <div class="profile">
                    <img class="profile_img" id="profile_img" alt="" />
                    <div class="username" id="username"></div>
                </div>
            </button>
            <button class="logout" id="logout">Logout</button>
        </div>
    </div>

    <div class="container">
        <button class="play" id="play">Jugar</button>
        <div id="game-over" class="oculto game_over">GAME OVER</div>
        <div id="bote" class="bote oculto">
            <p class="cant_bote" id="cant_bote">5</p>
            <img src="../../assets/img/moneda.png" class="img_coin" id="coin" alt="coin">
        </div>
    </div>
    
    <div>
        <div class="topo topo1">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_1" alt="topo">
        </div>

        <div class="topo topo2">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_2" class="" alt="topo">

        </div>

        <div class="topo topo3">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_3" alt="topo">
        </div>

        <div class="topo topo4">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_4" alt="topo">
        </div>
        <div class="topo topo5">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_5" alt="topo">
        </div>
    </div>

    <div class="footer">
        <button class="ranking" id="ranking">Ranking</button>
        <button class="skins" id="skins">Skins</button>
    </div>
</body>

</html>