<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="stylesheet" href="game.style.css">
</head>

<body>
    <div class="header">
        <div class="username">000002312312</div>
        <div class="logout">
            <button class="profile">
                <div class="profile">
                    <div class="profile_img">img</div>
                    <div class="username">Llorens21</div>
                </div>
            </button>
            <button class="logout">Logout</button>
        </div>
    </div>

    <div class="container">
        <button class="play">Jugar</button>
    </div>
    <div>
        <div class="topo topo1">
            <img src="../../assets/img/topo.png" alt="topo">
        </div>

        <div class="topo topo2">
            <img src="../../assets/img/agujero.png" alt="topo">

        </div>

        <div class="topo topo3">
            <img src="../../assets/img/agujero.png" alt="topo">
        </div>

        <div class="topo topo4">
            <img src="../../assets/img/agujero.png" alt="topo">
        </div>
        <div class="topo topo5">
            <img src="../../assets/img/agujero.png" alt="topo">
        </div>
    </div>

    <div class="footer">
        <button class="ranking">Ranking</button>
        <button class="skins">Skins</button>
    </div>
</body>

</html>