<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego</title>
    <link rel="stylesheet" href="game.style.css">
    <script src="game.controller.js"></script>
</head>

<body>
    <div class="header">
        
        <div class="vidas">
            <img src="../../assets/img/corazon.png" class="img_corazon" id="corazon_1" alt="heart">
            <img src="../../assets/img/corazon.png" class="img_corazon" id="corazon_2" alt="heart">
            <img src="../../assets/img/corazon.png" class="img_corazon" id="corazon_3" alt="heart">
        </div>
        <div class="points" id="points">
            0
        </div>
        <div class="card_user">
            <button class="button_profile">
                <div class="profile">
                    <img class="profile_img" id="profile_img" alt="" />
                    <div class="username" id="username"></div>
                </div>
            </button>
            <button class="logout">Logout</button>
        </div>
    </div>

    <div class="container">
        <button class="play" id="play">Jugar</button>
    </div>
    <div>
        <div class="topo topo1">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_1" alt="topo">
        </div>

        <div class="topo topo2">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_2" class="" alt="topo">

        </div>

        <div class="topo topo3">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_3" alt="topo">
        </div>

        <div class="topo topo4">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_4" alt="topo">
        </div>
        <div class="topo topo5">
            <img src="../../assets/img/agujero.png" class="img_corazon" id="topo_img_5" alt="topo">
        </div>
    </div>

    <div class="footer">
        <button class="ranking">Ranking</button>
        <button class="skins">Skins</button>
    </div>
</body>

</html>